
@{
    ViewBag.Title = "Filialen";
}

<h2>Filialen</h2>
<ul>
    @foreach (var filiaal in Model)
    {
        <li>@filiaal.ID @filiaal.Naam @MyHelpers.Milieuscore(@filiaal.Gebouwd) @(String.Format("{0:yyyy}", filiaal.Gebouwd)) @(String.Format("{0:#,##0.00}", filiaal.Waarde))</li>
    }
</ul>

